.titulosP{
	font-family: $fontTitulo;
	font-size: 2.3rem;

}

.bi-dash-lg{
	color: rgb(255, 198, 213);
}

#tabla1{
	font-size: 1.6rem;
}

#tabla2{
	font-size: 1.6rem;
}

#tabla3{
	font-size: 1.6rem;
}