

#fondoImg{
	background-color: $mainColor;

	}

#foto1{
	background-color: $secondColor;
	p{
		font-family:$fontMain;
		font-size: 1.4rem;
	}
}

#foto2{
	background-color: $secondColor;
	p{
		font-family:$fontMain;
		font-size: 1.4rem;
	}
}

#foto3{
	background-color: $secondColor;
	p{
		font-family:$fontMain;
		font-size: 1.4rem;
	}
}

#foto4{
	background-color: $secondColor;
	p{
		font-family:$fontMain;
		font-size: 1.4rem;
	}
}

#foto5{
	background-color: $secondColor;
	p{
		font-family:$fontMain;
		font-size: 1.4rem;
	}
}

#foto6{
	background-color: $secondColor;
	p{
		font-family:$fontMain;
		font-size: 1.4rem;
	}
}

#foto7{
	background-color: $secondColor;
	p{
		font-family:$fontMain;
		font-size: 1.4rem;
	}
}

#foto8{
	background-color: $secondColor;
	p{
		font-family:$fontMain;
		font-size: 1.4rem;
	}
}


.preguntas{
	background-color: $mainColor;
	font-family: $fontTitulo;
}

#botonPreguntas1{
	background-color: $secondColor;
	font-family: $fontTitulo;
	font-size: 2.5rem;

}

#botonPreguntas2{
	background-color: $mainColor;
	font-family: $fontTitulo;
	font-size: 2.5rem;
}

#botonPreguntas3{
	background-color: $secondColor;
	font-family: $fontTitulo;
	font-size: 2.5rem;
}




